#head {
		background : url("../img/milkbg.jpg") no-repeat;
		background-size: cover;
		height: 400px;
		padding: 70px;
	}

	#maintitle .jumbotron {
		color: white;
		background-color: rgba(0, 0, 0, 0.60);
		max-width: 500px;
		margin: 0 auto;
	}

	#cookie {
		max-width: 250px;
	}

	.aboutus {
		background-color: rgb(200,200,200);
		padding: 0 0 30px 0;

	}

	.contactus {
		background-color: #6699FF;
		color: white;
		padding: 0 0 30px 0;
	}

	#blueimg {
		max-width: 100%;
		width: auto;
		height: auto;
	}
